### How to Import a Cohort

### Objectives
Apply python commands to explore a predefined cohort in the following steps:
  1. Call the the predefined cohort
  2. Extract the cohort's metadata
  3. Filter it down to display gender, date of birth, and race attributes
  4. Save as a csv to be used in future analysis

### Vocabulary
1. class - Python has classes which are defined wireframes of objects. You can think of classes as encapsulating related attributes and functionality into a data structure. 
2. object - an instance of a class. An object has a state in which all of its properties have values that you either explicitly define or that are defined by default settings.
3. variable - assigned values using the = operator. A variable can hold almost any type of value such as lists, dictionaries, or functions.
4. DataFrame - a pandas two-dimensional data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table.

### Resources
* AllofUs Python client library docs: https://github.com/all-of-us/pyclient/blob/master/py/README.md#materializecohortrequest
* Curated Data Repository (CDR) docs: https://github.com/all-of-us/pyclient/blob/master/py/aou_workbench_client/cdr/README.md
* Jupyter Notebook for Beginners: link to AoU tutorial notebook

### Section 1: Call the predefined cohort

Step 1: If you are running these commands in another notebook, check that you are using a **Python 3 kernel**. It is listed at the top right of the Notebook. To change kernels, go to the Notebook menubar and select **Kernel->Change Kernel->Python 3**.

Step 2: Install the AoU Python client library with the command below.  You will be calling different objects from this library to manipulate the cohort.

In [1]:
!pip install --user --upgrade 'https://github.com/all-of-us/pyclient/archive/pyclient-v1-11.zip#egg=aou_workbench_client&subdirectory=py'

Collecting aou_workbench_client from https://github.com/all-of-us/pyclient/archive/pyclient-v1-11.zip#egg=aou_workbench_client&subdirectory=py
Requirement not upgraded as not directly required: six>=1.10 in /usr/local/lib/python3.4/dist-packages (from aou_workbench_client) (1.11.0)
Requirement not upgraded as not directly required: setuptools>=21.0.0 in /usr/local/lib/python3.4/dist-packages (from aou_workbench_client) (39.2.0)
Requirement not upgraded as not directly required: python-dateutil>=2.5.3 in /home/jupyter-user/.local/lib/python3.4/site-packages (from aou_workbench_client) (2.7.3)
Requirement not upgraded as not directly required: oauth2client>=4.0.0 in /home/jupyter-user/.local/lib/python3.4/site-packages (from aou_workbench_client) (4.1.2)
Requirement not upgraded as not directly required: pandas<0.21,>=0.17.1 in /home/jupyter-user/.local/lib/python3.4/site-packages (from aou_workbench_client) (0.20.3)
Requirement not upgraded as not directly required: urllib3>=1.15.1 in /usr/local/lib/python3.4/dist-packages (from aou_workbench_client) (1.22)
Requirement not upgraded as not directly required: ipywidgets>=7.2 in /home/jupyter-user/.local/lib/python3.4/site-packages (from aou_workbench_client) (7.2.1)
Requirement not upgraded as not directly required: ipython>=5.7.0 in /usr/local/lib/python3.4/dist-packages (from aou_workbench_client) (6.4.0)
Requirement not upgraded as not directly required: certifi>=14.05.14 in /usr/local/lib/python3.4/dist-packages (from aou_workbench_client) (2018.4.16)
Requirement not upgraded as not directly required: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.4/dist-packages (from oauth2client>=4.0.0->aou_workbench_client) (0.2.1)
Requirement not upgraded as not directly required: rsa>=3.1.4 in /usr/local/lib/python3.4/dist-packages (from oauth2client>=4.0.0->aou_workbench_client) (3.4.2)
Requirement not upgraded as not directly required: pyasn1>=0.1.7 in /usr/local/lib/python3.4/dist-packages (from oauth2client>=4.0.0->aou_workbench_client) (0.4.3)
Requirement not upgraded as not directly required: httplib2>=0.9.1 in /usr/local/lib/python3.4/dist-packages (from oauth2client>=4.0.0->aou_workbench_client) (0.11.3)
Requirement not upgraded as not directly required: numpy>=1.7.0 in /usr/lib/python3/dist-packages (from pandas<0.21,>=0.17.1->aou_workbench_client) (1.8.2)
Requirement not upgraded as not directly required: pytz>=2011k in /usr/lib/python3/dist-packages (from pandas<0.21,>=0.17.1->aou_workbench_client) (2012rc0)
Requirement not upgraded as not directly required: traitlets>=4.3.1 in /usr/local/lib/python3.4/dist-packages (from ipywidgets>=7.2->aou_workbench_client) (4.3.2)
Requirement not upgraded as not directly required: widgetsnbextension~=3.2.0 in /home/jupyter-user/.local/lib/python3.4/site-packages (from ipywidgets>=7.2->aou_workbench_client) (3.2.1)
Requirement not upgraded as not directly required: ipykernel>=4.5.1 in /usr/local/lib/python3.4/dist-packages (from ipywidgets>=7.2->aou_workbench_client) (4.8.2)
Requirement not upgraded as not directly required: nbformat>=4.2.0 in /home/jupyter-user/.local/lib/python3.4/site-packages (from ipywidgets>=7.2->aou_workbench_client) (4.4.0)
Requirement not upgraded as not directly required: jedi>=0.10 in /usr/local/lib/python3.4/dist-packages (from ipython>=5.7.0->aou_workbench_client) (0.12.0)
Requirement not upgraded as not directly required: pexpect; sys_platform != "win32" in /usr/local/lib/python3.4/dist-packages (from ipython>=5.7.0->aou_workbench_client) (4.6.0)
Requirement not upgraded as not directly required: decorator in /usr/local/lib/python3.4/dist-packages (from ipython>=5.7.0->aou_workbench_client) (4.3.0)
Requirement not upgraded as not directly required: pickleshare in /usr/local/lib/python3.4/dist-packages (from ipython>=5.7.0->aou_workbench_client) (0.7.4)
Requirement not upgraded as not directly required: backcall in /usr/local/lib/python3.4/dist-packages (from ipython>=5.7.0->aou_workbench_client) (0.1.0)
Requirement not upgraded as not directly required: pygments in /usr/local/lib/python3.4/dist-packages (from ipython>=5.7.0->aou_workbench_client) (2.2.0)
Requirement not upgraded as not directly required: simplegeneric>0.8 in /usr/local/lib/python3.4/dist-packages (from ipython>=5.7.0->aou_workbench_client) (0.8.1)
Requirement not upgraded as not directly required: typing; python_version <= "3.4" in /usr/local/lib/python3.4/dist-packages (from ipython>=5.7.0->aou_workbench_client) (3.6.4)
Requirement not upgraded as not directly required: prompt-toolkit<2.0.0,>=1.0.15 in /usr/local/lib/python3.4/dist-packages (from ipython>=5.7.0->aou_workbench_client) (1.0.15)
Requirement not upgraded as not directly required: ipython-genutils in /usr/local/lib/python3.4/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.2->aou_workbench_client) (0.2.0)
Requirement not upgraded as not directly required: notebook>=4.4.1 in /home/jupyter-user/.local/lib/python3.4/site-packages (from widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (5.6.0)
Requirement not upgraded as not directly required: tornado>=4.0 in /usr/local/lib/python3.4/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.2->aou_workbench_client) (4.5.3)
Requirement not upgraded as not directly required: jupyter-client in /usr/local/lib/python3.4/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.2->aou_workbench_client) (5.2.3)
Requirement not upgraded as not directly required: jupyter-core in /usr/local/lib/python3.4/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.2->aou_workbench_client) (4.4.0)
Requirement not upgraded as not directly required: jsonschema!=2.5.0,>=2.4 in /home/jupyter-user/.local/lib/python3.4/site-packages (from nbformat>=4.2.0->ipywidgets>=7.2->aou_workbench_client) (2.6.0)
Requirement not upgraded as not directly required: parso>=0.2.0 in /usr/local/lib/python3.4/dist-packages (from jedi>=0.10->ipython>=5.7.0->aou_workbench_client) (0.2.1)
Requirement not upgraded as not directly required: ptyprocess>=0.5 in /usr/local/lib/python3.4/dist-packages (from pexpect; sys_platform != "win32"->ipython>=5.7.0->aou_workbench_client) (0.5.2)
Requirement not upgraded as not directly required: wcwidth in /usr/local/lib/python3.4/dist-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=5.7.0->aou_workbench_client) (0.1.7)
Requirement not upgraded as not directly required: prometheus-client in /home/jupyter-user/.local/lib/python3.4/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (0.3.0)
Requirement not upgraded as not directly required: nbconvert in /home/jupyter-user/.local/lib/python3.4/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (5.3.1)
Requirement not upgraded as not directly required: pyzmq>=17 in /usr/local/lib/python3.4/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (17.0.0)
Requirement not upgraded as not directly required: jinja2 in /usr/local/lib/python3.4/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (2.10)
Requirement not upgraded as not directly required: Send2Trash in /home/jupyter-user/.local/lib/python3.4/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (1.5.0)
Requirement not upgraded as not directly required: terminado>=0.8.1 in /home/jupyter-user/.local/lib/python3.4/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (0.8.1)
Requirement not upgraded as not directly required: backports_abc>=0.4 in /usr/local/lib/python3.4/dist-packages (from tornado>=4.0->ipykernel>=4.5.1->ipywidgets>=7.2->aou_workbench_client) (0.5)
Requirement not upgraded as not directly required: pandocfilters>=1.4.1 in /home/jupyter-user/.local/lib/python3.4/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (1.4.2)
Requirement not upgraded as not directly required: entrypoints>=0.2.2 in /home/jupyter-user/.local/lib/python3.4/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (0.2.3)
Requirement not upgraded as not directly required: bleach in /home/jupyter-user/.local/lib/python3.4/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (2.1.3)
Requirement not upgraded as not directly required: testpath in /home/jupyter-user/.local/lib/python3.4/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (0.3.1)
Requirement not upgraded as not directly required: mistune>=0.7.4 in /home/jupyter-user/.local/lib/python3.4/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (0.8.3)
Requirement not upgraded as not directly required: MarkupSafe>=0.23 in /usr/local/lib/python3.4/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (1.0)
Requirement not upgraded as not directly required: html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre in /home/jupyter-user/.local/lib/python3.4/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (1.0.1)
Requirement not upgraded as not directly required: webencodings in /home/jupyter-user/.local/lib/python3.4/site-packages (from html5lib!=1.0b1,!=1.0b2,!=1.0b3,!=1.0b4,!=1.0b5,!=1.0b6,!=1.0b7,!=1.0b8,>=0.99999999pre->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.2.0->ipywidgets>=7.2->aou_workbench_client) (0.5.1)

gapic-google-cloud-logging-v2 0.91.3 has requirement oauth2client<4.0dev,>=2.0.0, but you'll have oauth2client 4.1.2 which is incompatible.
proto-google-cloud-error-reporting-v1beta1 0.15.3 has requirement oauth2client<4.0dev,>=2.0.0, but you'll have oauth2client 4.1.2 which is incompatible.
gapic-google-cloud-datastore-v1 0.15.3 has requirement oauth2client<4.0dev,>=2.0.0, but you'll have oauth2client 4.1.2 which is incompatible.
proto-google-cloud-datastore-v1 0.90.4 has requirement oauth2client<4.0dev,>=2.0.0, but you'll have oauth2client 4.1.2 which is incompatible.
gapic-google-cloud-error-reporting-v1beta1 0.15.3 has requirement oauth2client<4.0dev,>=2.0.0, but you'll have oauth2client 4.1.2 which is incompatible.
proto-google-cloud-logging-v2 0.91.3 has requirement oauth2client<4.0dev,>=2.0.0, but you'll have oauth2client 4.1.2 which is incompatible.
Installing collected packages: aou-workbench-client
  Found existing installation: aou-workbench-client 1.1.1
    Uninstalling aou-workbench-client-1.1.1:
      Successfully uninstalled aou-workbench-client-1.1.1
Successfully installed aou-workbench-client-1.1.1

Step 3: After this step has finished running, restart the kernel. Go to the menubar and choose **Kernel -> Restart**.

Step 4: Import pandas and name it pd or whatever alias makes sense to you. If you change the alias remember to change it any time you see pd in the notebook.

In [1]:
import pandas as pd

Step 5: Import the `MaterializeCohortRequest` class and the `materialize_cohort` function from these two aou_workbench_client modules. The object and function are essential for getting data back about your cohort.

In [2]:
from aou_workbench_client.swagger_client.models import MaterializeCohortRequest
from aou_workbench_client.cohorts import materialize_cohort

Step 6: Create a variable called `predefined_cohort` and set it equal the name of the cohort you built in the workspace. To do this replace "ICD10-F31.30-Bi-polar-female" with the name of your cohort. This should be one of the only pieces of code you need to edit in order to run this notebook.

In [3]:
predefined_cohort = "ICD10-F31.30-Bi-polar-female"

Step 7: Create a new variable called `my_cohort` that uses the `MaterializeCohortRequest` class that you just imported to grab the data for the predefined cohort. Set the `cohort_name` equal to the `predefined_cohort` variable you just created. Larger queries can be accomodated by using a `page_size` parameter to fetch the data in chunks, demonstrated here.

In [ ]:
my_cohort = MaterializeCohortRequest(cohort_name=predefined_cohort,page_size=1000)

Step 8: The results are returned when the `MaterializeCohortRequest` is passed to the `materialize_cohort` function. Create a new variable, `cohort_results`, to pass this to. Limit the number of results to 1000 with the `max_results` parameter.

In [5]:
cohort_results = materialize_cohort(my_cohort, max_results= 1000)

Step 9: Look at the cohort as a Pandas DataFrame. Extract the data by casting it to a list and placing the `cohort_results` variable within `list().` Then by putting the results of this within the `pd.DataFrame` class, we build a DataFrame. We will call it `cohort_df` (df for data frame).

In [6]:
cohort_df = pd.DataFrame(list(cohort_results))

Step 10: How big is the DataFrame? Call the `cohort_df` object and`.shape` to figure it out.

In [7]:
cohort_df.shape

(77, 1)

The first number indicates the number of individuals in the cohort (rows) and the second indicates the number of attributes of the individual (columns). Take a look at what column is returned.

Step 7: Call the first 10 rows of the DataFrame using `.head(10)`

In [8]:
cohort_df.head(10)

   person_id
0       2103
1       8073
2      46738
3      72054
4      73432
5      94301
6      97348
7     134545
8     160319
9     171377

### Section 2: Extract the cohort's metadata

As you can see, only the person_id is returned for the cohort. This next section will demonstrate how to pull one table's information from the CDR then use the module `TableQuery` to return all the table's results.

Looking at the [CDR doc](https://github.com/all-of-us/pyclient/blob/master/py/aou_workbench_client/cdr/README.md) listed under Resources, you can see the following cohort tables: 

- condition_occurrence
- death
- device_exposure
- drug_exposure
- measurement
- observation
- person
- procedure_occurrence
- visit_occurrence

Gender, birth date, and race attributes, are within the Person table so this is the table you'll pull.

Step 1: In addition to `MaterializeCohortRequest`, import `TableQuery` and `FieldSet` from the swagger_client module and the `Person` table from the CDR module.

In [15]:
from aou_workbench_client.swagger_client.models import MaterializeCohortRequest, TableQuery, FieldSet
from aou_workbench_client.cdr.model import Person

Step 2: Use the `TableQuery` object to specify which table you want cohort metadata from. Store the results in the `cohort_query` variable.

In [27]:
cohort_query = TableQuery(table_name=Person.table_name)

Step 3: Now take `cohort_query` and pass it to the `field_set` parameter within `MaterializeCohortRequest.` Field sets represent what data you want to retrieve about a cohort.
A `FieldSet` object must have either its table_query or annotation_query field populated (you use table_query). The results get stored in the `my_cohort_person_table` variable.

In [28]:
my_cohort_person_table = MaterializeCohortRequest(cohort_name=predefined_cohort, 
                                   field_set=FieldSet(table_query=cohort_query))

Step 4: Remember how the results get returned when the `MaterializeCohortRequest` is passed to the `materialize_cohort` function, as you did earlier? Do this.

In [29]:
cohort_person_results = materialize_cohort(my_cohort_person_table)

Step 5: Store the results in a Pandas DataFrame as demonstrated earlier. Check out the shape and first 10 rows of the DataFrame.

In [30]:
cohort_person_df = pd.DataFrame(list(cohort_person_results))
cohort_person_df.shape

(77, 18)

In [21]:
cohort_person_df.head(10)

,birth_datetime,care_site_id,day_of_birth,ethnicity_concept_id,ethnicity_source_concept_id,ethnicity_source_value,gender_concept_id,gender_source_concept_id,gender_source_value,location_id,month_of_birth,person_id,person_source_value,provider_id,race_concept_id,race_source_concept_id,race_source_value,year_of_birth
0,1980-02-01 00:00:00 UTC,0,1,38003564,1101000,NH,8532,1001001,F,0,2,2103,4080155,0,8527,701000,W,1980
1,1949-11-20 00:00:00 UTC,0,20,38003564,1101000,NH,8532,1001001,F,0,11,8073,942423,0,8527,701000,W,1949
2,1956-11-01 00:00:00 UTC,0,1,38003564,1101000,NH,8532,1001001,F,0,11,46738,3403873,0,8527,701000,W,1956
3,1949-06-21 00:00:00 UTC,0,21,38003564,1101000,NH,8532,1001001,F,0,6,72054,3021014,0,8527,701000,W,1949
4,1975-01-07 00:00:00 UTC,0,7,38003564,1101000,NH,8532,1001001,F,0,1,73432,2962389,0,8527,701000,W,1975
5,1955-12-19 00:00:00 UTC,0,19,38003564,1101000,NH,8532,1001001,F,0,12,94301,1933005,0,8527,701000,W,1955
6,1965-04-02 00:00:00 UTC,0,2,38003564,1101000,NH,8532,1001001,F,0,4,97348,3199243,0,8527,701000,W,1965
7,1970-09-22 00:00:00 UTC,0,22,38003564,1101000,NH,8532,1001001,F,0,9,134545,3729860,0,8527,701000,W,1970
8,1989-01-16 00:00:00 UTC,0,16,38003564,1101000,NH,8532,1001001,F,0,1,160319,558307,0,8527,701000,W,1989
9,1999-10-19 00:00:00 UTC,0,19,38003564,1101000,NH,8532,1001001,F,0,10,171377,4007533,0,8527,701000,W,1999

### Section 3: Filter the table

Now you have 18 rows of metadata to choose from! This section will show you how to narrow this down to the data displayed in the cohort builder: gender, race, and birth date.

Step 1: Look at the Person table by calling `.columns` to see what field names are used for gender, race, and birth date.

In [22]:
Person.columns

,Name,Type,Description
0,person_id,integer,A unique identifier for each person.
1,gender_concept_id,integer,A foreign key that refers to an identifier in ...
2,year_of_birth,integer,The year of birth of the person. For data sour...
3,month_of_birth,integer,The month of birth of the person. For data sou...
4,day_of_birth,integer,The day of the month of birth of the person. F...
5,birth_datetime,timestamp,The date and time of birth of the person.
6,race_concept_id,integer,A foreign key that refers to an identifier in ...
7,ethnicity_concept_id,integer,A foreign key that refers to the standard conc...
8,location_id,integer,A foreign key to the place of residency for th...
9,provider_id,integer,A foreign key to the primary care provider the...
10,care_site_id,integer,A foreign key to the site of primary care in t...
11,person_source_value,string,An (encrypted) key derived from the person ide...
12,gender_source_value,string,The source code for the gender of the person a...
13,gender_source_concept_id,integer,A foreign key to the gender concept that refer...
14,race_source_value,string,The source code for the race of the person as ...
15,race_source_concept_id,integer,A foreign key to the race concept that refers ...
16,ethnicity_source_value,string,The source code for the ethnicity of the perso...
17,ethnicity_source_concept_id,integer,A foreign key to the ethnicity concept that re...

The values for gender, race, and birth date that you'll want to return are: 
* gender_source_value
* race_source_value
* birth_datetime

Step 2: Use `TableQuery` but this time, add the parameter `columns` to specify the exact attributes you want.

In [23]:
cohort_gender_race_age = TableQuery(table_name=Person.table_name,
                          columns= [Person.person_id, Person.gender_source_value, Person.race_source_value, Person.birth_datetime])

Step 3: Now take `cohort_gender_race_age` variable you just created and pass it to the `field_set` parameter within  `MaterializeCohortRequest` along with the `predefined_cohort` variable as the `cohort_name.` The results are passed to the `my_cohort_gender_race_age` variable.

In [24]:
my_cohort_gender_race_age = MaterializeCohortRequest(cohort_name=predefined_cohort, 
                                   field_set=FieldSet(table_query=cohort_gender_race_age))

Step 4: Now materialize the cohort as you did earlier with `materialize_cohort`.

In [25]:
cohort_gender_race_age_results = materialize_cohort(my_cohort_gender_race_age)

Step 5: Turn the results into a Pandas DataFrame and display the first 10 rows of the table

In [26]:
cohort_gender_race_age_df = pd.DataFrame(list(cohort_gender_race_age_results))
cohort_gender_race_age_df.head(10)

            birth_datetime gender_source_value  person_id race_source_value
0  1980-02-01 00:00:00 UTC                   F       2103                 W
1  1949-11-20 00:00:00 UTC                   F       8073                 W
2  1956-11-01 00:00:00 UTC                   F      46738                 W
3  1949-06-21 00:00:00 UTC                   F      72054                 W
4  1975-01-07 00:00:00 UTC                   F      73432                 W
5  1955-12-19 00:00:00 UTC                   F      94301                 W
6  1965-04-02 00:00:00 UTC                   F      97348                 W
7  1970-09-22 00:00:00 UTC                   F     134545                 W
8  1989-01-16 00:00:00 UTC                   F     160319                 W
9  1999-10-19 00:00:00 UTC                   F     171377                 W

### Section 4: Save as a CSV for later analysis

Step 1: Take the DataFrame you just created and call `.to_csv` to transform the DataFrame into a csv. In between the parenthesis below, name the csv something descriptive.

In [20]:
cohort_gender_race_age_df.to_csv("Bi-polar-female-cohort.csv")

To see where the csv has been saved, click the **Jupyter icon at the top of this notebook->Workspaces->The workspace this notebook lives in->see CSV**.The csv will be listed below your other notebooks.

To read the csv next time you enter a notebook in this workspace, use: <br/>
`dataframe_name = pd.read_csv(file_name.csv)`